*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Plus Jakarta Sans", serif;
}
body{
    background-color: #F9FAFB;
}






.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start; /* Memastikan elemen tidak sejajar secara vertikal */
    display: flex;
    margin-top: 100px;
    gap: 30px;
    padding: 28px;
    
}
.container .container-kiri{
    width: 468px;
    box-sizing: border-box; /* Memastikan padding dihitung dalam ukuran total */
    overflow: hidden; /* Mencegah elemen keluar dari container */
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 20px 15px;
    box-shadow: 2px 4px 10px  #0000003D;
}
.profile {
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nama-email-profile .name{
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1F2937;
}
.nama-email-profile .email{
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6B7280;
}
hr{
    background-color: #E5E7EB;
    border: none;
    height: 1px;
    margin: 20px 0;
    width: 320px;
}












.container-myprofil {
    width: 320px;
    box-sizing: border-box;
    overflow: hidden;
}
.myaccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.myaccount .myaccount-kiri {
    display: flex;
    gap: 8px;
}
.myaccount i,
.notif i {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6B7280;
}
.container-myprofil p,
.notif p {
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1F2937;
}
.isi-myaccount {
    display: none;
    margin-left: 32px;
}
.isi-myaccount-profil,
.isi-myaccount-add,
.isi-myaccount-pw,
.isi-myaccount-pesanan {
    width: 320px;
    padding: 10px;
    cursor: pointer;
}
.arrow {
    transition: transform 0.3s ease;
}
.arrow.rotate {
    transform: rotate(180deg);
}


.notif{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}




.container-pesanansaya{
    width: 730px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 10px  #0000003D;
    margin-bottom: 20px;
}
.container-pesanansaya a{
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}



.produk-pesanansaya{
    background-color: #FFFFFF;
    padding: 30px;
}
.order-list-order-order {
    display: flex;
    gap: 10px;
}

.order-img img {
    width: 46px;
    height: 46px;
}

.order-ket {
    width: 100%;
}

.ket-judul {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 16px;
    color: #000000;
}
.ket-harga,
.ket-total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.ket-harga-name,
.ket-total-name {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 12px;
    color: #111827;
}

.ket-harga-angka,
.ket-total-angka {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 12px;
    font-weight: 500;
    color: #111827;
}


.buton-pesananselesai{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.buton-pesananselesai .pesanan-selesai{
    width: 156px;
    height: 36px;
    border-radius: 6px;
    background-color: #0B1765;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
}
.container-pesanansaya  .dikirim{
    color: #0B1765;
}















